<div class="form-group">
    {{talent-input-mask
      class=(if valueSelected 'form-control dirty' 'form-control')
      unmasked=value
      typeMask='phone'
      required=required
      disabled=disabled}}

    <label>{{placeholder}}</label>
</div>
