<div class="form-group">
  <label class="control-label">{{placeholder}}</label>
  {{input
    class=(if valueSelected 'form-control dirty' 'form-control')
    disabled=disabled
    required=required
    value=valueSelected}}

  {{#unless disabled}}
    <a class="clear-picker" {{action 'clearPicker'}}>
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  {{/unless}}
</div>
